# Segmenting and Clustering Neighborhoods in Toronto

#### Import pandas

In [1]:
import pandas as pd

#### Read the postcode table in the Wikipedia page into dataframe

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url,header=0)
postcode = dfs[0]
postcode.head(12)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
9       M8A      Not assigned      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge

#### Remove cells with a borough that is Not assigned

In [3]:
postcode = postcode.set_index('Borough')
postcode = postcode.drop('Not assigned',axis=0)
postcode.reset_index(inplace=True)
postcode.head(12)

             Borough Postcode     Neighbourhood
0         North York      M3A         Parkwoods
1         North York      M4A  Victoria Village
2   Downtown Toronto      M5A      Harbourfront
3   Downtown Toronto      M5A       Regent Park
4         North York      M6A  Lawrence Heights
5         North York      M6A    Lawrence Manor
6       Queen's Park      M7A      Not assigned
7          Etobicoke      M9A  Islington Avenue
8        Scarborough      M1B             Rouge
9        Scarborough      M1B           Malvern
10        North York      M3B   Don Mills North
11         East York      M4B  Woodbine Gardens

In [4]:
# Check the number of rows in the dataframe
postcode.shape

(211, 3)

#### Replace neighbourhoods with value Not assigned by borough

In [5]:
postcode['Neighbourhood'].replace(to_replace='Not assigned',value=postcode['Borough'],inplace=True)

# Check the result
postcode[postcode['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Borough, Postcode, Neighbourhood]
Index: []

#### Merge neighbourhoods with the same postcode into one row

In [6]:
postcode = postcode.groupby(['Postcode','Borough']).agg(lambda x: ','.join(x))
postcode.reset_index(inplace=True)
postcode.head(12)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                      Rouge,Malvern
1       M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2       M1E  Scarborough                    Guildwood,Morningside,West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
7       M1L  Scarborough                      Clairlea,Golden Mile,Oakridge
8       M1M  Scarborough      Cliffcrest,Cliffside,Scarborough Village West
9       M1N  Scarborough                         Birch Cliff,Cliffside West
10      M1P  Scarborough  Dorset Park,Scarborough Town Centre,Wexford He...
11      M1R  Scarborough                                   Maryvale,Wexford

In [39]:
# Number of rows in the dataframe
print('Number of rows in the final dataframe: ',postcode.shape[0])

Number of rows in the final dataframe is:  103